.App {
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: 'Gill Sans', sans-serif;
  font-weight: 700;
  border: transparent;
  background-color: #D53B9D;
  color: black;
  padding: .75rem 1.25rem;
  text-align: center;
  letter-spacing: .15rem;
  overflow: hidden;
  cursor: pointer;
}

button:hover, button:focus{
  background-color: #00FFFF;
  border-radius: 4%;
}