h1 {
  display: flex;
  justify-content: center;
}

.name-input {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.character-creation {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.submit {
  display: flex;
  justify-content: center;
}

